<p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="font-size:10.0pt">Declaration Number : <strong>INC0009009</strong><br />
Caller : <strong>System Administrator</strong><br />
Currency : <strong>INR</strong></span></span>
    </span>
</p>

<p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="font-size:10.0pt">Entity : <strong>4Mation India</strong><br />
Total Amount : <strong>1000.00</strong></span></span>
    </span>
</p>

<hr />
<p><span style="font-size:11pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Attachments:</span></span>
</p>

<p><img alt='' align='middle' src="https://ckeditor.com/apps/ckfinder/userfiles/files/bd043267c462acd6a4afd1f150a02247(1)(1).jpg" style="height:350px; width:300px" /></p>